body{
	margin: 0%;
	background-image: url(productos-naturales.jpg);
	background-repeat: no-repeat;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
}

.navbar-nav a:hover {
    background:rgba(217, 255, 0, 0.657);

}

h1 {
    background:rgba(255, 255, 255, 0.479);

}

h2 {
    background:rgba(255, 255, 255, 0.568);

}

h3 {
    background:rgba(255, 255, 255, 0.568);

}

footer{
	margin: 0; padding: 20px;
	background: #ffffff9b;	
}